.header {
	height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.searchBlock {
	display: flex;
	gap: 0.5rem;
}

.header__wrapper {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}
