@use '@/app/styles/global' as *;

.sidebar {
	border-right: 1px solid var(--border-color);
	background-color: var(--bg-color);
	min-width: 10rem;
	padding: 1rem 2rem;
	flex-shrink: 0;
	& nav {
		position: fixed;
	}
	&__link {
		margin-bottom: 1rem;
		font-size: var(--text-link-size);
	}
}
